{% extends "base.twig" %}

{% block content %}

{% set pagetype = 'about-us' %}
<meta http-equiv="x-pjax-pagetype" content="{{ pagetype }}">

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			{% include "banner.twig" with {
				title:			post.get_field('title'), 
				image:			post.get_field('background_image'),
				image_height:	post.get_field('image_height')
				} 
			%}
			<section class="large-content">
				<div class="content">
					<div class="left-col desktop">
						{% for item in post.get_field('right_content') %}
							{% if item.image %}
								<img src="{{TimberImage(item.image).src}}" alt="">
							{% endif %}
						{% endfor %}
					</div>
					<div class="right-col">
						{% for item in post.get_field('right_content') %}
							<div class="about-content">
								<h2>{{item.title}}</h2>
								<div class="quote"><span class="icon desktop"></span><span>{{item.quote}}</span><span class="icon mobile"></span></div>
								<p>{{item.description}}</p>
								<img class="mobile" src="{{TimberImage(item.image).src}}" alt="">
							</div>
						{% endfor %}
					</div>
				</div>
			</section>

		</article>
	</div> <!-- /content-wrapper -->

{% endblock %}