{% extends "base.twig" %}

{% block content %}

{% set pagetype = 'where-to-buy' %}
<meta http-equiv="x-pjax-pagetype" content="{{ pagetype }}">

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			{% include "banner.twig" with {
				title:			post.get_field('title'), 
				image:			post.get_field('background_image'),
				image_height:	post.get_field('image_height')
			} %}
			<section class="large-content">
				<div class="content columns">
					<div class="left-col">
						<h2>{{post.get_field('label_organic')}}</h2>
						<ul>
							{% for item in post.get_field('organic_list') %}
								<li><a href="{{item.url}}" title="">{{item.label}}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="right-col">
						<h2>{{post.get_field('label_coffee')}}</h2>
						<ul>
							{% for item in post.get_field('coffee_list') %}
								<li><a href="{{item.url}}" title="">{{item.label}}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="content">{{post.content}}</div>
			</section>

		</article>
	</div> <!-- /content-wrapper -->

{% endblock %}