{% extends "base.twig" %}

{% block content %}
{% set pagetype = 'products' %}
<meta http-equiv="x-pjax-pagetype" content="{{ pagetype }}">

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			{% include "banner.twig" with {
				title:			post.get_field('title'), 
				image:			post.get_field('background_image'),
				image_height:	post.get_field('image_height')
				} 
			%}
			<section class="large-content">
				<div class="content top-content">
					{{post.content}}
				</div>

				<div class="content product-list">
					{% for product in products %}
						<div class="column">
							<a href="{{product.link}}">
								<h3>{{product.title}}</h3>
								<picture>
									<source srcset="{{TimberImage(product.get_field('thumbnail')).src('large')}}" media="(min-width: 768px)">
									<img srcset="{{TimberImage(product.get_field('thumbnail')).src('mobile-size')}}" alt="">
								</picture>
								<div class="roast">
									<div class="bg"></div>
									<div class="ctn">
										<div class="roast-name">{{product.get_field('roast')}} <span></span></div>
										<div class="mobile">
											{{product.content}}
										</div>

									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</section>

		</article>
	</div> <!-- /content-wrapper -->

{% endblock %}