{% extends "base.twig" %}

{% block content %}

	<script type="text/javascript">
		var introIMG = "{{theme.path}}/img/intro.png";

	</script>

	<div class="overlay-nowebgl">
		<div class="container">
			Uhoh! It looks like your using a device or a browser not compatible with WebGL.<br/>
			That's cool, you can still see my projects but if you want the real experience come back with a modern device &amp; browser.<br/>
			<a href="http://get.webgl.org/" target="_blank">Here is a link with more explanation</a><br/>

			Thanks!

		</div>
	</div>

	<div id="global-wrapper">
		<header id="home-intro">
			<div class="bg">
				<div class="bg1"></div>
				<div class="bg2"></div>
			</div>
			<div class="intro-p table">
				<div class="table-cell">
					<div class="container">
						{{post.content}}
					</div>
				</div>
			</div>
			<div class="award table">
				<div class="table-cell">
					<div class="container">
						<h1>AWARDS</h1>
						<div>
							<h2><img src="app/themes/portfolio/img/fwa.jpg"></h2>
							<ul>
								<li><span class="award-title">Month</span> <span>x1</span></li>
								<li><span class="award-title">Day</span> <span>x6</span></li>
							</ul>
						</div>
						<div>
							<h2><img src="app/themes/portfolio/img/awwwards.jpg"></h2>
							<ul>
								<li><span class="award-title">Month</span> <span>x1</span></li>
								<li><span class="award-title">Day</span> <span>x3</span></li>
								<li><span class="award-title">Developer award</span> <span>x1</span></li>
								<li><span class="award-title">Honorable Mention</span> <span>x1</span></li>
							</ul>
						</div>
						<div>
							<h2><img src="app/themes/portfolio/img/css-awards.jpg"></h2>
							<ul>
								<li><span class="award-title">Month</span> <span>x1</span></li>
								<li><span class="award-title">Day</span> <span>x1</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="preload-font" style="font-family: 'Lato';">.</div>

		<div id="projects-buttons">
			<div class="table">
				<div class="table-cell">
					{% for project in posts %}
						<a href="{% do action('make_link_relative', project.link) %}" name="{{project.post_name}}">
				          	<div class="bg"></div>
				          	<div class="container">
				        		{{project.title}}
					      	</div>
				        </a>
			        {% endfor %}
					<a class="sphere" href="#">
			          	<div class="bg"></div>
			          	<div class="container">
			        		<div class="table"><div class="table-cell">&lt; Back To Sphere</div></div>
				      	</div>
			        </a>
				</div>
			</div>
		</div>

		<div id="projects">
			{% for project in posts %}
				<div class="project {{project.post_name}}">
		            <a class="project-slug" name="{% do action('make_link_relative', project.link) %}"></a>
		          	<div class="text">
		              	<h1>{{project.title}}</h1>
		              	<p>{{project.content}}</p>
		              	{% if project.get_field('tags') is not empty %}
		              	<ul class="tech-tags">
		              		{% for tag in project.get_field('tags') %}
		              			<li>{{tag.tag}}</li>
		              		{% endfor %}
		              	</ul>
	              		{% endif %}
		          	</div>
		          	<div class="images">
		             	{% for image in project.get_field('images') %}
		             		<div>
											<img class="main" data-src="{{TimberImage(image).src('large')}}" alt="">
		             		</div>
						{% endfor %}
		          	</div>                       
		        </div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
