{% extends "base.twig" %}

{% block content %}

{% set pagetype = 'single-news' %}
<meta http-equiv="x-pjax-pagetype" content="{{ pagetype }}">

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			{% include "banner.twig" with {
				title:			post_news.get_field('title'), 
				image:			post_news.get_field('background_image'),
				image_height:	post_news.get_field('image_height')
			} %}
			<section class="large-content">
				<div class="content">
					<div class="left-col">
							<div class="news-post">
								<div class="news-author">
									{{ post.post_date|date}}
								</div>
								<h2>{{post.title}}</h2>
								<div class="news-content"> {{post.content}} </div>
							</div>
					</div>
					<div class="right-col">
						<a href="/news" class="arrow-btn black">
							<div class="bg"></div>
							<div class="btn-ctn">Back to news <span></span></div>
						</a>
					</div>
				</div>
				<div class="content share-content" id="share-ctn">
					<div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

					<a href="https://twitter.com/share" data-url="{{curr_url}}" data-text="{{post.title}}" class="twitter-share-button">Tweet</a>
				</div>
			</section>

		</article>
	</div> <!-- /content-wrapper -->

{% endblock %}
